<ul class="todos">
  <% @todos.each do |todo| %>
    <li class=<%= completed_class_for todo %>>
      <%= todo.title %>
      <%= render_completion_button todo %>
    </li>
  <% end %>
</ul>

<%= link_to "Add a new todo", new_todo_path %>
